.check-result-container {
    overflow: hidden;
    height: calc(100vh - 70px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    background-image: url("../../images/geometric_background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.result-box{
    border-radius: 30px;
    border: 7px solid;
    width: 25%;
    min-width: 350px;
    height: 90%;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.result-title-header {
    margin: 1em;
    font-size: calc(0.6vw + 1em);
}

.result-yes {
    border-color: #157023;
    color: #157023;
}

.result-maybe {
    border-color: #E2BE01;
    color: #E2BE01;
}

.result-no {
    border-color: #E20101;
    color: #E20101;
}

.product-info {
    display: flex;
    justify-content: space-between;
    color: black;
    margin: 2% 1em 1em;
    font-size: calc(0.1vw + 1em);
}

.warnings {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
}

.ingredients-section {
    color: black;
    display: flex;
    align-items: flex-start;
    margin: 0em 2em;
}

.safety-icon-wrapper {
    width: 20%;
}

.ingredients-text {
    align-self: center;
    width: 80%;
    font-size: calc(0.2vw + 1em);
}

.check-error-box {
    width: 50%;
    border-radius: 30px;
    border: 7px solid #E20101;
    background-color: white;
    padding: 1em 2em;
    font-size: calc(0.6vw + 1em);
}

.add-product-bttn {
    color: #157023;
}

.add-to-safe-section {
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 90%;
    color: black;
    margin-bottom: 1em;
}

.add-to-safe-icon {
    max-width: 25px;
    cursor: pointer;
}

@media screen and (max-width : 720px){
    .result-box {
        min-width: 320px;
        width: 80%;
    }

    .result-title-header {
        margin: 1.2em 0.8em 1.2em 1.2em;
        font-size: calc(3vw + 1em);
    }

    .product-info {
        font-size: calc(1.5vw + 1em);
    }

    .ingredients-text {
        font-size: calc(1.7vw + 1em);
    }

    .check-error-box {
        width: 90%;
        font-size: calc(3vw + 1em);
    }

    .add-to-safe-section {
        font-size: calc(1vw + 1em);
    }

    .add-to-safe-icon {
        max-width: 35px;
    }
}